.parentStyle {
  display: flex;
  position: "absolute";
  top: 0;
  left: 0;
  right: 0;
  margin-top: 1%;
  justify-content: center;
  text-align: center;
  width: 100%;
  flex-direction: row;
}

.titleStyle {
  font-size: 16pt; 
  color: white;
  font-weight: 500;
  margin-top: 25pt;
}

.descStyle {
  font-size: 10pt; 
  color: white;
  margin-top: -10pt;
}
