.parentView {
  display: inline-block;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #0000004D;
}

.customView {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  /* margin-top: -1.01%; */
}

.bottomView {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1%;
  max-height: 190px;
}
