<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384648248055-1hr41c0cuh5hac8bik4ms367vopik2um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384648248055-1hr41c0cuh5hac8bik4ms367vopik2um</string>
	<key>API_KEY</key>
	<string>AIzaSyATQjyBurvsB6iJdFRz6G72mrUD16DpaLw</string>
	<key>GCM_SENDER_ID</key>
	<string>384648248055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatsappdesign</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-614cb</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-614cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384648248055:ios:e2b15b9f74a2f5645171f2</string>
	<key>DATABASE_URL</key>
	<string>https://whatsappclone-614cb.firebaseio.com</string>
</dict>
</plist>